{% extends 'base.html.twig' %}

{% block body %}


	<div class="container mt-5">
		<div class="mx-auto" style="width: 200px;">
			<a href="{{ path('import_data', {  date : app.request.attributes.get('_route_params')['date'] }) }}" class="btn btn-secondary js-import-data">Import data</a>
		</div>
		<div class="row mt-2">
			<table id="datatable" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>Transaction Id</th>
						<th>Tool number</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Date</th>
						<th>Bat percentage</th>
						<th>Import date</th>
					</tr>
				</thead>
                 <tbody>
                    {% for transaction in data %}
                        <tr>
                            <td>{{ transaction.transactionid }}</td>
                            <td>{{ transaction.toolnumber}}</td>
                            <td>{{ transaction.latitude }}</td>
                            <td>{{ transaction.longitude}}</td>
                            <td>{{ transaction.date |date('Y-m-d H:i:s')}}</td>
                            <td>{{ transaction.batpercentage}}</td>
                            <td>{{ transaction.importdate |date('Y-m-d H:i:s')}}</td>
                        <tr>
                    {% endfor %}
                 </tbody>
			</table>
		</div>
	</div>

{% endblock %}